%h1 Test Controller / View

%p This tests the conversion of links into forms by Mizugumo

.no_method
  %h3 Basic link without method
  = link_to "Show Product", @product

%table
  %tr
    %th Without AJAX
    %th With AJAX
  %tr
    %td#without_ajax
      .no_method
        %h3 Basic link without method
        = link_to "Show Product", @product

      .delete_method
        %h3 Basic link with delete method
        = link_to "Delete Product", @product, :method => :delete

      .delete_with_confirm
        %h3 Basic link with delete method and confirm
        = link_to "Delete Product", @product, :method => :delete, :confirm => 'Are you sure?'

      .put_method
        %h3 Basic link with put method
        = link_to "Put Product", @product, :method => :put

      .image
        %h3 Image link with delete method
        = link_to @product, :method => :delete do
          = image_tag 'press_it.png'

      .image_and_text
        %h3 Image link with delete method
        = link_to @product, :method => :delete do
          = image_tag 'press_it.png'
          Some other text
    %td#contains_ajax
      .no_method
        %h3 Basic link without method
        = link_to "Show Product", @product

      .delete_method
        %h3 Basic link with delete method
        = link_to "Delete Product", @product, :method => :delete

      .delete_with_confirm
        %h3 Basic link with delete method and confirm
        = link_to "Delete Product", @product, :method => :delete, :confirm => 'Are you sure?'

      .put_method
        %h3 Basic link with put method
        = link_to "Put Product", @product, :method => :put

      .image
        %h3 Image link with delete method
        = link_to @product, :method => :delete do
          = image_tag 'press_it.png'

      .image_and_text
        %h3 Image link with delete method
        = link_to @product, :method => :delete do
          = image_tag 'press_it.png'
          Some other text

